* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, input, textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 0;
    background-color: black;
    color: gray;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: lightgray;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-list img {
    height: 100px;
    margin-top: 20px;
}

.product-list li {
    display: inline;
    margin-right: 24px;
}

section .container {
    align-items: flex-start;
}

header img {
    display: flex;
    height: 100px;
}

.products {
    margin-right: 32px;
    height: 500px;
    display: flex;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

section h3 {
    font-weight: bold;
    margin-top: 40px;
    font-size: 20px;
}

section h6 {
    margin-top: 30px;
    color: lightgray;
    text-decoration: underline;
}

.quebra-linha {
    background-color: black;
    padding: 20px 0;
}

.banner-list img {
    height: 150px;
}

.banner-list li {
    display: inline;
    margin-right: 150px;
    margin-left: 150px;
    align-items: center;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: black;
    color: gray;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(43, 39, 39);
}

input:focus, textarea:focus {
    outline-color: black;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 12px;
    margin-left: 18px;
}

.social-links li a {
    text-decoration: none;
}

.wpp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #01e675;
    color: #fff;
    border-radius: 60px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 2px #c0bdbd;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

.wpp-link:hover {
    background-color: white;
    color: #01e675;
    font-weight: 900;
    box-shadow: 2px 2px 20px #5fe690;
}

footer {
    background-color: black;
    color: white;
    padding: 16px 0;
}